<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<define name="LOG_HOME" class="abs.ixi.server.sys.LogHomeDefiner" />

	<appender name="sfRolloingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}stringflow.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_HOME}stringflow-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger></logger>

	<root level="TRACE">
		<appender-ref ref="Console" />
	</root>

</configuration>